---
layout: main
title: Josef Fruehwald
---

<a name = "home"></a>
<ul id="topnav">
	<li id = "curr">Home</li>
	<li><a href="#papers">&darr;Papers and Presentations</a></li>
	<li><a href = "{{ "/update.html" | prepend: site.baseurl}}">Updates&rarr;</a></li>
</ul>




<div class = "left">
	<div class = "box">
		<h2>About Me</h2>
		<p>I am a Lecturer in Sociolinguistics in <a href = "http://www.lel.ed.ac.uk/">Linguistics and English Language</a>
		 	in the <a href = "http://www.ppls.ed.ac.uk/">School of Philosophy, Psychology and Language Sciences</a> at the 
		 	<a href = "http://www.ed.ac.uk/home">University of Edinburgh</a>. I recently finished my PhD in Linguistics
		 	at the University of Pennsylvania.
			My interests within linguistics are sociolinguistics, variation and change, phonetics, and phonology.
	</div>

	<div class = "box">
		<h3>Research</h3>
			<p>Linguistic variation is a complex and sensitive phenomenon, and data on it can be brought to bear on
			a number of different research questions.  For example, linguistic systems are embedded in complex social 
			structures, so linguistic variation can be informative about social meaning.
	  		My own research interests concern how linguistic variation can be informative about Language itself.</p>
	</div>
</div>

<div class = "right">
	<div class = "imgbox">
		<img width=70% src = "assets/joseff.png">
	</div>
	<div class = "box">
			<h3>Contact</h3>
			<p><script language="JavaScript">
			 		<!-- 

			 		var email = "joseff"; var emailHost = "babel.ling.upenn.edu"
			 		document.write("<a href=" + "mai" + "lto:" +email +
			 		"&#64;" + emailHost+ ">" + "<b"+">"+ email + "&#64;" + emailHost + "</"+"b>"+"</a>")
	
				 	//-->
   				</script></p>
	</div>
	<div class = "box">
		<h3>Links</h3>
		<p><a href = "http://www.lel.ed.ac.uk/">Linguistics and English Language</a></p>
		<p><a href = "http://www.ppls.ed.ac.uk/">School of Philosophy, Psychology and Language Sciences</a> </p>
		<p><a href= "rstudy/index.html">R Study Group</a></p>
		<p><a href = "phillymotion.html">Philadelphia Language in Motion</a></p>
		<p><a href = "avml2012/">AVML 2012 workshop on ggplot2</a></p>
	</div>


</div>

<div class = "mid">
	<div class = "box">
		<h3>Recent Updates</h3>
		{% include post_list %}
	</div>
</div>
<a name = "papers"></a>
<ul id="topnav">
	<li><a href = "#home">&uarr;Home</a></li>
	<li id = "curr">Papers and Presentations</li>
	<li><a href = "{{ "/update.html" | prepend: site.baseurl}}">Updates&rarr;</a></li>
</ul>

<div class = "left">
	<div class = "box">
		<h3>Dissertation</h3>
		{% assign pub_type = "dissertation" %}
		<h4>Dissertation
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h4>
		{% include pub_table %}

		<h4>Proposal</h4>
		{% assign pub_type = "proposal" %}
		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "paper"%}
		<h3>Working Papers and Proceedings 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>
		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "workshop"%}
		<h3>Workshops
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>

</div>

<div class = "right">
	<div class = "box">
		{% assign pub_type = "rpaper"%}
		<h3>Journal Papers 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "talk"%}
		<h3>Talks and Presentations 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}
	</div>
	<div class = "box">
		{% assign pub_type = "italk"%}
		<h3>Invited Talks 
			<a href = "{{ pub_type | prepend: "/" | prepend: site.baseurl | append: ".html"}}" id = "nav">&rarr;</a></h3>

		{% include pub_table %}		
	</div>

</div>


